@page
@model ApartmentsRentalManagement1.Pages.Apartments.DeleteModel

@{
    ViewData["Title"] = "Delete Apartment";
    Layout = "~/Pages/Shared/_Management.cshtml";
}

<h2 class="bold common-font blue text-center">Delete Apartment/Residence</h2>

<hr />

<h3 class="common-font blue text-center">Are you sure you want to delete this apartment record?</h3>

<div class="containment">
    <dl class="dl-horizontal common-font">
        <dt>@Html.DisplayNameFor(model => model.Apartment.ApartmentId)</dt>
        <dd>@Html.DisplayFor(model => model.Apartment.ApartmentId)</dd>

        <dt>@Html.DisplayNameFor(model => model.Apartment.UnitNumber)</dt>
        <dd>@Html.DisplayFor(model => model.Apartment.UnitNumber)</dd>

        <dt>@Html.DisplayNameFor(model => model.Apartment.Bedrooms)</dt>
        <dd>@Html.DisplayFor(model => model.Apartment.Bedrooms)</dd>
        
        <dt>@Html.DisplayNameFor(model => model.Apartment.Bathrooms)</dt>
        <dd>@Html.DisplayFor(model => model.Apartment.Bathrooms)</dd>
        
        <dt>@Html.DisplayNameFor(model => model.Apartment.MonthlyRate)</dt>
        <dd>@Html.DisplayFor(model => model.Apartment.MonthlyRate)</dd>
        
        <dt>@Html.DisplayNameFor(model => model.Apartment.SecurityDeposit)</dt>
        <dd>@Html.DisplayFor(model => model.Apartment.SecurityDeposit)</dd>
        
        <dt>@Html.DisplayNameFor(model => model.Apartment.OccupancyStatus)</dt>
        <dd>@Html.DisplayFor(model => model.Apartment.OccupancyStatus)</dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Apartment.ApartmentId" />
        <input type="submit" value="Delete this Apartment's Record" class="btn btn-primary" /> :: 
        <a asp-page="./Index">Apartments</a>
    </form>
</div>
