@page
@model ApartmentsRentalManagement1.Pages.RentalContracts.DeleteModel

@{
    ViewData["Title"] = "Delete Rental Contract";
    Layout = "~/Pages/Shared/_Management.cshtml";
}

<h2 class="bold common-font blue text-center">Delete Rental Contract</h2>

<hr />

<h3 class="common-font blue text-center">Are you sure you want to delete/cancel this contract?</h3>

<div class="containment">
    <dl class="dl-horizontal common-font">
        <dt>@Html.DisplayNameFor(model => model.RentalContract.RentalContractId)</dt>
        <dd>@Html.DisplayFor(model => model.RentalContract.RentalContractId)</dd>

        <dt>@Html.DisplayNameFor(model => model.RentalContract.ContractNumber)</dt>
        <dd>@Html.DisplayFor(model => model.RentalContract.ContractNumber)</dd>

        <dt>@Html.DisplayNameFor(model => model.RentalContract.EmployeeId)</dt>
        <dd>@Html.DisplayFor(model => model.RentalContract.EmployeeId)</dd>
        
        <dt>@Html.DisplayNameFor(model => model.RentalContract.ContractDate)</dt>
        <dd>@Html.DisplayFor(model => model.RentalContract.ContractDate)</dd>
        
        <dt>@Html.DisplayNameFor(model => model.RentalContract.FirstName)</dt>
        <dd>@Html.DisplayFor(model => model.RentalContract.FirstName)</dd>
    
        <dt>@Html.DisplayNameFor(model => model.RentalContract.LastName)</dt>
        <dd>@Html.DisplayFor(model => model.RentalContract.LastName)</dd>
        
        <dt>@Html.DisplayNameFor(model => model.RentalContract.MaritalStatus)</dt>
        <dd>@Html.DisplayFor(model => model.RentalContract.MaritalStatus)</dd>
        
        <dt>@Html.DisplayNameFor(model => model.RentalContract.NumberOfChildren)</dt>
        <dd>@Html.DisplayFor(model => model.RentalContract.NumberOfChildren)</dd>
      
        <dt>@Html.DisplayNameFor(model => model.RentalContract.ApartmentId)</dt>
        <dd>@Html.DisplayFor(model => model.RentalContract.ApartmentId)</dd>
    
        <dt>@Html.DisplayNameFor(model => model.RentalContract.RentStartDate)</dt>
        <dd>@Html.DisplayFor(model => model.RentalContract.RentStartDate)</dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="RentalContract.RentalContractId" />
        <input type="submit" value="Delete Rental Contract" class="btn btn-primary" /> :: 
        <a asp-page="./Index">Rental Contracts</a>
    </form>
</div>
